{% extends 'layout.html.twig' %}

{% block title %}{{'Formulaire de création d\'annonce'}}{% endblock %}

{% block stylesheet %}{% endblock %}

{% block content %}
  <h1>Créer une nouvelle annonce</h1>
  <div class="form">
    <form class="row g-3 needs-validation" novalidate>
      <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Référence</label>
        <input type="text" class="form-control" id="validationCustom01" required>
        <div class="valid-feedback">
          Entrée valide
        </div>
      </div>
      <div class="col-md-4">
        <label for="validationCustom02" class="form-label">Catégorie</label>
        <select class="form-select" id="validationCustom02" required>
          <option selected disabled value="">Choisir...</option>
          <option>Vente</option>
          <option>Location</option>
          <option>Autre</option>
        </select>
        <div class="invalid-feedback">
          Prière de sélectionner une option valide.
        </div>
      </div>
      <div class="col-md-4">
        <label for="validationCustom03" class="form-label">Nature du bien</label>
        <select class="form-select" id="validationCustom03" required>
          <option selected disabled value="">Choisir...</option>
          <option>Maison</option>
          <option>Appartement</option>
          <option>Autre</option>
        </select>
        <div class="invalid-feedback">
          Prière de sélectionner une option valide.
        </div>
      </div>
      <div class="col-md-6">
        <label for="validationCustom04" class="form-label">Surface</label>
        <input type="text" class="form-control" id="validationCustom04" required>
        <div class="valid-feedback">
          Entrée valide
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Valider</button>
      </div>
    </form>
  </div>
    

{% endblock %}
