<div class="container col-12 col-sm-9 d-flex justify-content-center p-0">
    <div class="row col-12">
        {% block headcont %}
            <div class="col-12">
            Voir les biens similaires
            </div>
            <div class="col-12">

                


            </div>
            <div class="col-12">
                Vente maison, {{ property.nb_piece }} pièces, {{ property.nb_chambre }} chambres, surface : {{ property.surface }}m2
            </div>
        {% endblock %}
    </div>
</div>
