<div class="container col-12 col-sm-12 d-flex justify-content-center my-5 px-0">
    <div class="row col-12 col-sm-9 d-flex justify-content-center">
        <div class="col-12 d-flex flex-row justify-content-center px-0">
            <div class="row col-12 d-flex flex-row px-0">
                <div class="col-6 text-center align-self-center p-0">
                    {%  if property.energy_performance_diagnostic is empty %}
                        <h3>EPD - Pas d'information</h3>
                    {% else %}
                        <h3>EPD - {{ property.energy_performance_diagnostic }}</h3>
                    {% endif %}
                </div>
                <div class="col-6 text-center align-self-center p-0">
                    {%  if property.greenhouse_gas is empty %}
                        <h3>GES - Pas d'information</h3>
                    {% else %}
                        <h3>GES - {{ property.greenhouse_gas }}</h3>
                    {% endif %}
                </div>

                <div class="col-6 p-0">
                    <img class="col-12 px-0" src="\assets\images\DPE.png" alt="dpe">
                </div>

                <div class="col-6 p-0">
                    <img class="col-12 px-0"  src="\assets\images\GES.png" alt="ges">
                </div>
            </div>
        </div>
        <div class="row col-12 d-flex justify-content-center mt-5 px-0">
            <div class ="col-12 text-center px-0">
                <h3>VOIR SUR LA CARTE</h3>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2675.173816329264!2d1.891047315716449!3d47.8943209792048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e4e52678f1f167%3A0xd729ecf0a52ba098!2sLab&#39;O!5e0!3m2!1sfr!2sfr!4v1618859380520!5m2!1sfr!2sfr" width="800" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>
