{% extends 'layout.html.twig' %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/assets/css/flaticonFont/flaticon.css">
        <link rel="stylesheet" href="/assets/css/advertisement.css">
    <div class="col-12 d-flex justify-content-center p-0 mt-5">
        {# col-9 for 75% screen #}
        <div class="row col-12 col-sm-9 p-0 mt-5">
            <div class="col-12 col-md-9 p-0">
                {% include 'Advertisement/_carousel.html.twig' %}
            </div>
            <div class="col-12 col-md-3 px-3 d-none d-md-block">
                {% include 'Advertisement/_feature.html.twig' %}
            </div>
            <div class="col-12 px-3 d-md-none">
                {% include 'Advertisement/_feature.html.twig' %}
            </div>
        </div>            
    </div>
{% endblock %}
