{% extends 'layout.html.twig' %}

{% block content %}
    <link rel="stylesheet" href="/assets/css/advertisement.css">
    <div class="col-12 d-flex justify-content-center p-0 mt-5">

        {# col-9 for 75% screen #}
        <div class="row col-sm-9 p-0 mt-5">
            {% include 'Advertisement/_carousel.html.twig' %}
            {% include 'Advertisement/_details.html.twig' %}
            {% include 'Advertisement/_energyInformations.html.twig' %}
        </div>
    </div>
{% endblock %}
