{% extends 'layout.html.twig' %}

{% block content %}
    <div class="col-12 d-flex justify-content-center p-0 mt-5">
        <div class="row col-sm-9 p-0 mt-5">
            {% include 'Advertisement/_carousel.html.twig' %}
            {% include 'Advertisement/_energyInformations.html.twig' %}
        </div>
    </div>
{% endblock %}
