{% extends 'layout.html.twig' %}

{% block content %}
    <div class="col-12 d-flex justify-content-center p-0 mt-5">
        {# col-9 for 75% screen #}
        <div class="col-sm-9 p-0 mt-5">
            {% block carousel %}
                {% include 'Advertisement/_carousel.html.twig' %}
            {% endblock %}
                  
            {% block details %}
                {% include 'Advertisement/_details.html.twig' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
