<header class="position-relative ">
    <img src = "/assets/images/image_accueil.jpg" alt="" class="container-fluid p-0 position-relative ">
     <div class ="input-group search-bar position-absolute top-20 start-50 translate-middle">
            <input class="form-control" type ="search" placeholder="Rechercher par référence">
            <div class="btn-group">
                <button type="button" class="btn btn-outline">Recherche</button>
            </div>                              
        </div>                                     
    <h1 class="header_title text-center d-none d-sm-block text-uppercase position-absolute top-50 start-50 translate-middle">Bienvenue au Club de l'Immo</h1>

</header>



