
<header>
    <h1 class="header_title">Bienvenue au Club de l'Immo</h1>
    <div class="search">
        <ul class="nav nav-tabs d-flex justify-content-between" id="myTab" role="tablist">
            <li class="nav-item col-4 col-lg-3 justify-content-center" role="presentation">
                <button class="nav-link active col-12" id="rent-tab" data-bs-toggle="tab" data-bs-target="#rent" type="button" role="tab" aria-controls="rent" aria-selected="true">LOUER</button>
            </li>
            <li class="nav-item col-4 col-lg-3 justify-content-center" role="presentation">
                <button class="nav-link col-12" id="buy-tab" data-bs-toggle="tab" data-bs-target="#buy" type="button" role="tab" aria-controls="buy" aria-selected="false">ACHETER</button>
            </li>
            <li class="nav-item col-4 col-lg-3 justify-content-center" role="presentation">
                <a class="reference" href="/reference/reference">
                    <button class="nav-link col-12" id="reference-tab" data-bs-target="#reference" type="submit" aria-controls="reference" aria-selected="false">REFERENCE</button>
                </a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="rent" role="tabpanel" aria-labelledby="rent-tab">
                <form class="row g-3 justify-content-center">
                    <div class="form-outline col-12">
                        <input type="search" id="form1" class="form-control" placeholder="Saisissez votre recheche" aria-label="Search" />
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary search_btn col-12">RECHERCHER</button>
                    </div>
                </form>
            </div>

            <div class="tab-pane fade" id="buy" role="tabpanel" aria-labelledby="buy-tab">
                <form class="row g-3 justify-content-center">
                    <div class="form-outline col-12">
                        <input type="search" id="form1" class="form-control" placeholder="Saisissez votre recheche" aria-label="Search" />
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary search_btn col-12">RECHERCHER</button>
                    </div>
                </form>            
            </div>
            <a class="reference" href="https://getbootstrap.com/docs/5.0/components/navbar/">
                <div class="tab-pane fade" id="reference" role="tabpanel" aria-labelledby="reference-tab"></div>
            </a>
        </div>
    </div>
</header>
