<section class="infoagence">
<div class="jumbotron text-center">
  <br>
  <h2>Notre agence</h2>
  <br>
  <br>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
    <div class ="presentationAgence">
      <p>
                        <b>VOTRE NOUVEL ESPACE IMMOBILIER</b> 
                        <br>
                        Vous recherchez un appartement, une maison, un loft, sur   
                        <br>
                        Orléans et ses alentours ?  
                        <br>
                        <br>                
                        Notre agence LE CLUB DE L'IMMO vous accueille : 
                        </p>
                        <ul>
                        <li>lundi de 13h00 à 18h30 </li>
                        <li>mardi au vendredi de 9h30 à 18h30</li>
                        <li>samedi de 9h30 à 12h30 et de 13h30 à 17h00</li> 
                        </ul>
                        <p>
                        Vous souhaitez rencontrer directement votre futur 
                        <br>
                        propriétaire ? 
                        <br>
                        <br>
                        Tél : 02 38 839 940 <br>
                        Fax : 02 38 840 164 <br>
                        le.club.de.limmo@orange.fr 
      </p>
      </div>
    </div>
    <div class="col-sm-6">
       <div class="map-infoagene">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10698.771243974632!2d1.9013473!3d47.9036307!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf0ee83a52f16d2c1!2sLe%20Club%20de%20l&#39;Immo!5e0!3m2!1sfr!2sfr!4v1618842369166!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
    </div>
  </div>
<div class="row">
    <div class="col-sm-6">
    <div class ="presentationAgenceInfoCouleur">
      <p>
      <br>
      <br>
                VOUS ÊTES MUTÉS, <br>
                VOUS VENDEZ VOTRE BIEN ET QUITTEZ LA VILLE ? <br>
                NOUS POUVONS VOUS PROPOSER LE SERVICE PLUS ! <br>
                <br>
                Entretien de votre jardin jusqu'à la vente! <br>
                Vous ne vous occupez de rien, nous gérons! <br>
                <br>
                Une maison propre et entretenue, <br>
                c'est une maison vendue plus vite!
                 <br>
                  <br>
                  <br>
      </p>
      </div>
    </div>
    <div class="col-sm-6">


    <div class= "dpe">
    <br>
    <p>
<b>Votre garantie habitat performant avec Club Immo</b>
</p>
<div class="container">
  <div class="row">
    <div class="col-sm-6"><img src = "/assets/images/dpe2.jpeg" alt="Diagnostic DPE"></div>
    <div class="col-sm-6">
    <p>

<br><br>
 CONTACTEZ-NOUS POUR VOTRE DIAGNOSTIC ÉNERGÉTIQUE 
<br>
<br>
Nous vous orienterons vers nos meilleurs collaborateurs
    </p>
    </div>
  </div>
</div>
</div>

    </div>
  </div>
</div>

</section>