
<section class="infoagence">
<div class="jumbotron text-center">
  <h2>Notre agence</h2>
  <br>
  <br>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
    <div class ="presentationAgence">
      <p>
                        VOTRE NOUVEL ESPACE IMMOBILIER <br>
                        Vous recherchez un appartement, une maison, un loft, sur   <br>
                        Orléans et ses alentours ?  <br>
                        <br>
                        Notre agence LE CLUB DE L'IMMO vous accueille : <br>

                        le lundi de 13h00 à 18h30 <br>
                        du mardi au vendredi de 9h30 à 18h30 <br>
                        le samedi de 9h30 à 12h30 et de 13h30 à 17h00 <br>

                        Vous souhaitez rencontrer directement votre futur <br>
                        propriétaire ? <br>
                        <br>
                        Tél : 02 38 839 940 <br>
                        Fax : 02 38 840 164 <br>
                        le.club.de.limmo@orange.fr 
      </p>
      </div>
    </div>
    <div class="col-sm-6">
       <div class="map-infoagene">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10700.817144288407!2d1.895089!3d47.8937312!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbc57826d5c23bd7!2sWild%20Code%20School%20-%20Formation%20d%C3%A9veloppeur%20web!5e0!3m2!1sfr!2sfr!4v1618482572338!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
    </div>
  </div>

<div class="row">
    <div class="col-sm-6">
    <div class ="presentationAgenceInfoCouleur">

      <p>
      <br>
                VOUS ÊTES MUTÉS, <br>
                VOUS VENDEZ VOTRE BIEN ET QUITTEZ LA VILLE. <br>
                NOUS POUVONS VOUS PROPOSER LE SERVICE PLUS ! <br>
                <br>
                Entretien de votre jardin jusqu'à la vente! <br>
                Vous ne vous occupez de rien, nous gérons! <br>
                <br>
                Une maison propre et entretenue, <br>
                c'est une maison vendue plus vite!
                 <br>
                  <br>
      </p>
      </div>
    </div>
    <div class="col-sm-6">
 <br>
<h5>Votre garantie habitat performant avec le club Immo<h5>
<br>
<img src = "/assets/images/dpe2.png" width= "70%", height="60%" alt="Diagnostic DPE">

    </div>
  </div>


  



</div>

</section>

