<section class="realtorInfoPage">
  <div class="jumbotron text-center p-5">
      <h2>Notre agence</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div>
            <div class= "col-12">
              <p class="fs-5"><b>VOTRE NOUVEL ESPACE IMMOBILIER</b></p> 
            </div>
          <div class= "col-12">
            <p class="fs-5">Vous recherchez un appartement, une maison, un loft, sur Orléans et ses alentours ?</p>
            <p class="fs-5">Notre agence LE CLUB DE L'IMMO vous accueille:</p>
            </div>
          <ul class="col-12">
            <li class="fs-5">lundi de 13h00 à 18h30 </li>
            <li class="fs-5">mardi au vendredi de 9h30 à 18h30</li>
            <li class="fs-5">samedi de 9h30 à 12h30 et de 13h30 à 17h00</li> 
          </ul>
            <div class= "col-12">
          <p class="fs-5">Vous souhaitez rencontrer directement votre futur propriétaire ?</p>
          </div>
          <ul class = "col-12">
            <li class= "list-inline fs-5">Tél : 02 38 839 940</li>
            <li class ="list-inline fs-5">Fax : 02 38 840 164 </li>
            <li class ="list-inline fs-5">le.club.de.limmo@orange.fr</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
          <div class="map-infoagene">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10698.771243974632!2d1.9013473!3d47.9036307!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf0ee83a52f16d2c1!2sLe%20Club%20de%20l&#39;Immo!5e0!3m2!1sfr!2sfr!4v1618842369166!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6  p-4">
        <div class =" flashInfoService">
          <div class= "p-4">
            <p class= "fs-5">VOUS ÊTES MUTÉS, VOUS VENDEZ VOTRE BIEN ET QUITTEZ LA VILLE ? NOUS POUVONS VOUS PROPOSER LE SERVICE PLUS !</p>
            <p class= "fs-5">Entretien de votre jardin jusqu'à la vente! Vous ne vous occupez de rien, nous gérons!
            Une maison propre et entretenue, c'est une maison vendue plus vite!</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class= "performance">
          <div class= "col-12" class="fs-5">
            <p class = "m-4"><b>VOTRE GARANTIE HABITAT PERFORMANT</b></p> 
            <img src = "/assets/images/dpe2.jpeg" alt="Diagnostic DPE">
            </div>
          </div>
        </div>
      </div>
  </div>
</section>