$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?37a564e0229a6503ef09fb6c86a11003") format("truetype"),
url("./flaticon.woff?37a564e0229a6503ef09fb6c86a11003") format("woff"),
url("./flaticon.woff2?37a564e0229a6503ef09fb6c86a11003") format("woff2"),
url("./flaticon.eot?37a564e0229a6503ef09fb6c86a11003#iefix") format("embedded-opentype"),
url("./flaticon.svg?37a564e0229a6503ef09fb6c86a11003#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "room": "\f101",
    "surface": "\f102",
    "building": "\f103",
    "appartement": "\f104",
    "home": "\f105",
    "bedroom": "\f106",
    "bathroom": "\f107",
    "wc": "\f108",
);

.flaticon-room:before {
    content: map-get($flaticon-map, "room");
}
.flaticon-surface:before {
    content: map-get($flaticon-map, "surface");
}
.flaticon-building:before {
    content: map-get($flaticon-map, "building");
}
.flaticon-appartement:before {
    content: map-get($flaticon-map, "appartement");
}
.flaticon-home:before {
    content: map-get($flaticon-map, "home");
}
.flaticon-bedroom:before {
    content: map-get($flaticon-map, "bedroom");
}
.flaticon-bathroom:before {
    content: map-get($flaticon-map, "bathroom");
}
.flaticon-wc:before {
    content: map-get($flaticon-map, "wc");
}
