$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?65203055340b825b6dcd5d247b70c259") format("truetype"),
url("./flaticon.woff?65203055340b825b6dcd5d247b70c259") format("woff"),
url("./flaticon.woff2?65203055340b825b6dcd5d247b70c259") format("woff2"),
url("./flaticon.eot?65203055340b825b6dcd5d247b70c259#iefix") format("embedded-opentype"),
url("./flaticon.svg?65203055340b825b6dcd5d247b70c259#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "rooms": "\f101",
    "surface": "\f102",
    "building": "\f103",
    "appartement": "\f104",
    "home": "\f105",
    "bedrooms": "\f106",
    "bathrooms": "\f107",
    "toilets": "\f108",
    "home2": "\f109",
    "lift": "\f10a",
    "kitchen": "\f10b",
    "parking-space": "\f10c",
);

.flaticon-rooms:before {
    content: map-get($flaticon-map, "rooms");
}
.flaticon-surface:before {
    content: map-get($flaticon-map, "surface");
}
.flaticon-building:before {
    content: map-get($flaticon-map, "building");
}
.flaticon-appartement:before {
    content: map-get($flaticon-map, "appartement");
}
.flaticon-home:before {
    content: map-get($flaticon-map, "home");
}
.flaticon-bedrooms:before {
    content: map-get($flaticon-map, "bedrooms");
}
.flaticon-bathrooms:before {
    content: map-get($flaticon-map, "bathrooms");
}
.flaticon-toilets:before {
    content: map-get($flaticon-map, "toilets");
}
.flaticon-home2:before {
    content: map-get($flaticon-map, "home2");
}
.flaticon-lift:before {
    content: map-get($flaticon-map, "lift");
}
.flaticon-kitchen:before {
    content: map-get($flaticon-map, "kitchen");
}
.flaticon-parking-space:before {
    content: map-get($flaticon-map, "parking-space");
}
