body {
    padding-top: 70px;
}

h1 {
    color: var(--primary);
}

.container {
    width: 75%;
}

.property-image {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    object-fit: contain;
}

table td {
    vertical-align: middle;
}

.btn-purple {
    color:#fff;
    background-color: var(--primary);
    border-color: var(--primary);
    width: 20%;
}

.empty:empty {
    display: none;
}