.btn_advert_contact {
    color: var(--light);
    background-color: var(--primary);
    border-color: var(--primary);
    width:fit-content;
}

.map {
    height : 400px;

}

.back {
    text-decoration: none;
} 

.back:hover {
    text-decoration: underline;
} 
