.map-infoagence {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-infoagence iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

    .performance {  
    font-family: var(--main-font);
    margin-left: 20px;
    }
    
    .performance p {
    font-family: var(--main-font);
    }

    .realtorInfoPage p, ul , li {
    line-height:1.5em;
    list-style:inside;
    }

    .flashInfoService {
    background-color: var(--primary);
    font-family: var(--main-font);
    }
    .flashInfoService p{
    color:var(--light);
    font-family: var(--main-font);
    line-height:1.5em;
    }