header img{
    max-width: 100%;
    height: 100vh;
}

@media only screen and (max-width: 1200px)  {
    h1 {
        font-size: var(--subtitle-size);
    }
    header img{
        padding: 10px;
        height: auto;
    }
}
