/* La navbar */
.navbar {
    background: var(--light);
}
.navbar-brand p{
   font-family: var(--main-font);
   font-weight: bold;
}

/* Le bouton active de navbar */
.navbar-light .navbar-collapse .navbar-nav > .active {
    color: var(--primary);
}
