.navbar {
    background: var(--transparent-light);
    padding-left: 20%;
    padding-right: 20%;
}

.navbar .navbar-nav .nav-link {
    text-decoration: none;
    text-align: center;
}
.navbar-light .navbar-collapse .navbar-nav > .active {
    text-decoration: none;
    color: var(--primary);
    text-align: center;
}
