:root {
    --primary: #6B36AE;
    --secondary: #DDDDDD55;
    --light: white;
    --dark: black;
    --transparent-light: rgba(255, 255, 255, 0.514);
    --intermediary: #AA9BBE;
    --card-color: #DDDDDD30;
/* Change the font- family and font size*/
    
    --main-font: 'Veranda, Sans-serif';
    --title-font: 'Helvetica, Sans-serif';
    --title-size: 50px;
    --subtitle-size: 32px;
    --larger-text-size: 24px;
    --text-size: 18px;
}

body {
    color: var(--dark);
    font-size: var(--text-size);
    font: var(--main-font);
}

h1 {
    color: var(--primary);
    font-size: var(--title-size);
    font-family: var(--title-font);
    font-weight: bold;
/* Add new property to make the title more visible  */
    text-shadow: 5px 5px 10px var(--light), 5px 5px 1em var(--light),
    5px 5px 1em var(--light);    

}

h2 {
    color: var(--primary);
    font-family: var(--title-font);
    font-size: var(--subtitle-size);
    font-weight: bold;
}

.footer {
    background-color: var(--primary);
}

/* Add new classes that are used in different pages  */
.text-purple{
    color:var(--primary);
}

.bg-purple{
    background-color: var(--primary);
}
