:root {
    --primary: purple;
    --secondary: #DDDDDD;
    --light: white;
    --dark: black;
    --intermediary: rgb(129, 85, 129);

    --main-font: 'Roboto, Sans-serif';
    --title-font: 'Nova Oval', cursive;
}


.footer {
    background-color: var(--secondary);
}


