<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
      LE CLUB DE L'IMMO
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">ACCUEIL</a>
        <a class="nav-link" href="#">RECHERCHE</a>
        <a class="nav-link" href="#">PROPRIETAIRE</a>
        <a class="nav-link" href="#">CONTACT</a>
      </div>
    </div>
  </div>
</nav>
