{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/admin_advertisement.css">
{% endblock %}

{% block content %}

    <main class="container">
        <h1 class="mt-5 pb-2">
            Liste des annonces
        </h1>

        <a class="btn btn-primary" href="#">Ajouter une annonce</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Référence</th>
                    <th>Catégorie</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for advertisement in advertisements %}
                <tr>
                    <td><img class="advertisement-image" src="{{ advertisement.image}}" alt="" /></td>
                    <td>{{ advertisement.reference}}</td>
                    <td>{{ advertisement.category}}</td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </main>
{% endblock %}